{% extends 'home/main.html' %}

{% block content %}
                <main>
                    <div class="container-fluid">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"><a href=#> Start</a></li>
                        
                        
                        </ol>
                        
                    </div>
                </main>
{% endblock %}