{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Taicho Khanri</title>
        
        <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'home/css/main.css' %}" rel="stylesheet" />
        <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" crossorigin="anonymous"></script>
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        
        
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav border navbar navbar-expand navbar-dark bg-light text-dark">
            <button class="btn text-dark btn-sm ml-1" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <a class="navbar-brand d-flex pl-1" href="{% url 'home' %}">
                <div id="logo-container" class="mt-1">
                    <img src="{% static 'loginmanager/images/logo-eye.png' %}" width="110" alt="taicho-khanri"/>
                </div>
                <!-- <h5>Taicho Khanri</h5> -->
<!--                <img src="{% static 'home/images/time_en2.png' %}" class="img-rounded" style="float:right" alt="Time Khanri" width="304" height="236">-->
            </a>
            {% get_current_language as LANGUAGE_CODE %}
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
<!--                <div class="input-group">-->
<!--                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />-->
<!--                    <div class="input-group-append">-->
<!--                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
            </form>
            <form method="post" action="#">
                {% csrf_token %}
                <input type="hidden" name="text" value="{{ redirect_to }}">
                <!--                            <input type="submit" value="Go">-->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        
<!--                        <a class="dropdown-item" href="#">Activity Log</a>-->
                        
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                        {% if request.user.is_staff %}

                            <a class="dropdown-item" href="{% url 'admin:index' %}">
                                
                                {% trans "Administration" %}
                            </a>
                            <a class="dropdown-item" href="{% url 'bulk_upload' %}">
                                
                                {% trans "Upload Image" %}
                            </a>
                            {%endif%}
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light shadow" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav" id="side-nav-main">
                            <div class="sb-sidenav-menu-heading" style="color: #413e3e;">
                                {% trans "Menu" %}
                            </div>
                            <a class="nav-link" href="{% url 'profile' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></i></div>
                            {% trans "Profile" %}
                            </a>

                            <!-- </a> -->
                            <a class="nav-link" href="{% url 'setup_eye' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-eye"></i></i></div>
                                {% trans "Eye & Face Test" %}
                            </a>

                            <a class="nav-link" href="{% url 'setup_face_recog' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-smile-beam"></i></div>
                                {% trans "Face Recognition" %}
                            </a>
                            {% if request.user.is_staff %}
                            
                            {%endif%}
                            
                        </div>
                    <div class="sb-sidenav-footer" style="font-weight: 500;">
                        <div class="small">{% trans "Logged in as:" %}</div>
                        {{user}}
                    </div>
                    <div>
                    <form method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                        <input type="hidden" name="text" value="{{ redirect_to }}">
                        <select name="language" id="" onchange="this.form.submit()">
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                            {% endfor %}
                        </select>
                        <!--                            <input type="submit" value="Go">-->
                    </form></div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                {% block content %} {% endblock content %}
<!--                <img src="{% static 'home/images/time_en2.png' %}" class="img-rounded" alt="Cinque Terre" width="304" height="236">-->
                <footer class="py-4 mt-auto" id="main-footer">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted"><a href=#>Copyright &copy; B&B Tech </a></div>
                            <divc class="d-flex">
                                <a href="#">Privacy Policy</a>
                                <a href="#" class="ml-2">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'home/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'home/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'home/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'home/assets/demo/datatables-demo.js' %}"></script>
        <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
        <script src="{% static 'home/js/feather.min.js' %}"></script>
        
    </body>
</html>
