@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
body{
    font-family: 'Rubik', sans-serif;
}
.navbar-brand{
    color: black !important;
    width: max-content !important;
}
#main-footer{
    background-color: #1868b8ab;
}
#main-footer a{

    color: #fff;
}
#sidebarToggle:focus{
    box-shadow: none !important;
}
/* sidebar */
#sidenavAccordion{
    background-color: #f4f4f4 !important; 
    border-right:1px solid lightgrey !important;
}
#side-nav-main a{
    font-weight: 500 !important;
}
#layoutSidenav #layoutSidenav_nav{
    transition:transform 0.4s ease-in-out
}

#profileUpdateForm  small{
    display: none !important;
}
.rounded-btn {
    border-radius: 19px !important;
    min-width: 130px;
}
@media (max-width: 768px){
    #main-footer{
        font-size: 14px;
    }
}

@media (max-width: 600px){
    body{
        font-size: 1rem;
    }
    .container{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    #login-form-card, #register-form-card{
        margin-top: 15px !important;
    }
    .auth-heading{
        font-size: 17px;
    }
    .btn{
       font-size: 14px !important
    }
}