<!DOCTYPE html>
{% load static %}
{%load i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eye Test</title>
  <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  
  <script defer src="{% static 'loginmanager/js/face-api.min.js' %}"></script>
  <script defer src="{% static 'loginmanager/js/eye_script.js' %}"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
    body {
      margin: 0;
      padding: 0;
      /* width: 100vw; */
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-family: 'Rubik', sans-serif;
      background-color: #fff;
    }

    canvas {
      position: absolute;
    }
  </style>
</head>
<body>
  <p>{% trans "Identified as" %} : {{ profile }}</p></br>
  <a href="/login/logout" class="btn btn-primary mt-2"> Not {{ profile }} ? 間違った認識 ?</a>

  </br>
  <video id="video" width="560" height="560"autoplay playsinline muted></video>
  <div id="snapshot" style="display: none;"></div>
  <p style="visibility: hidden" id="para" class="p-1"></p>
  <p style="visibility: hidden" id="expr" class="p-1"></p>
  <p style="visibility: hidden" id="fd" class="p-1"></p>

  
</body>
</html>