{% extends 'home/main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<body>

    <div class="container" style="margin: 2%;">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h3 class="h2">{{profile.user}} {% trans "Face Recognition"%} </h3>
                    
                    
                </div>
                <div class="card bg-light"> 
                    <strong>{% trans "Deleting face recognition data would delete all your face data from our database." %} </strong> 
                    <strong>{% trans "You'd have to setup your face recognition again if you want to use this feature."%}</strong>

                    <strong>{% trans "Do you want to delete your face recognition data?"%}</strong>
                </div>
                <br>
                <div class="row">
                    
                    
                    <!-- Profile Picture Section -->
                    <div class="col-lg-5 col-md-4 col-sm-12 align-items-center">
                        <div class="card bg-light">
                            <form method="POST" action="{% url "del_face_recog_data" %}">
                                {% csrf_token %}
                                <button class="btn btn-block btn-danger">{% trans "Yes, Delete it" %}</button>
                            </form>
                            
                                
                            
                        </div>
                    </div>
                    <!-- Info Display Section -->
                    <div class="col-lg-5 col-md-8 col-sm-12" id="user_info">
                        <div class="card bg-light">
                            <form method="POST" action="{% url "setup_face_recog" %}">
                            {% csrf_token %}
                            <button class="btn btn-block btn-success">{% trans "No" %}</button>
                            </div>
                        </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Change Info Section -->
                    
                    
                </div>
            </div>

</body>

{% endblock %}