{% extends 'loginmanager/main.html' %}
{%load i18n %}
{% load static %}

{% block style %}
  <link href="{% static 'loginmanager/css/eye-check.css' %}" rel="stylesheet" />
{% endblock style %}

{% block content %}

<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-8">
                <div class="card shadow-sm border-0 rounded-lg mt-5 p-1" id="table-card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info text-center">
                            <strong>{{data.final_pred}}</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul>{% trans "Username" %}: {{data.person}}</ul>
                        <ul>{% trans "Status" %}:                 {{data.final_pred}}</ul>
                        <ul>{% trans "Left Eye Data" %}:            {{data.lear_avg}}</ul>
                        <ul>{% trans "Right Eye Data" %}:           {{data.rear_avg}}</ul>
                        <ul>{% trans "Eye Redness" %}:                {{data.eye_redness_max}}</ul>
                        <ul>{% trans "Frames Calculated" %}:      {{frames}}</ul>
                        <ul>{% trans "Estimated Left Blinks" %}:       {{data.lblinks}}</ul>
                        <ul>{% trans "Estimated Right Blinks"%}:       {{data.rblinks}}</ul>
                        <ul>{% trans "Face Expression" %}:    {{data.expression}}</ul>
                        <ul>{% trans "Face Exposure" %}:    {{data.face_exposure_avg}}</ul>
                        <ul>{% trans "Face Redness"%}:    {{data.face_redness_avg}}</ul>
                    </div>
                   
                    
                    <div class="mt-3 mb-2 ml-2 d-flex"> 
                        <a href="{% url 'home' %}" class="btn btn-primary m-auto w-25">
                            {% trans "Login" %}
                        </a>  
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}