{% extends 'home/main.html' %}
{% load i18n %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">{% trans "Download Data" %}</h1>

    </div>
    <div class="row">

	
</div>
    <div class="card mb-4">

        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        
                        <th>{% trans "User" %}</th>
                        <th>{% trans "Download" %}</th>
                        
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in all_users %}
                    <tr>
                        <td>{{ u.user }}</td>
                        <td><style>
                            .link_button {
                              background-color: #1c87c9;
                              border: none;
                              color: white;
                              padding: 10px 17px;
                              text-align: center;
                              text-decoration: none;
                              display: inline-block;
                              font-size: 14px;
                              margin: 4px 2px;
                              cursor: pointer;
                            }
                          </style>
                            <a href="{% url 'download_report' u.user %}" class="link_button">{% trans "Download Report Summary" %}</a>
                            <a href="{% url 'download_logs' u.user %}" class="link_button">{% trans "Download Logs" %}</a></td>
                    
                        
                        
                    </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if lang == "ja" %}
    <script>
        $(document).ready(function (){
             var table = $('#dataTable').DataTable({
                 aoColumnDefs: [
                     {"aTargets": [0], "bSortable": true},
                     {"aTargets": [2], "asSorting": ["asc"], "bSortable": true},
                 ],
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                 }
             })
     
        }
                 );    
         </script>
        {% endif %}
</main>
{% endblock %}