
{% extends 'loginmanager/main.html' %}

{% block content %}

<main>
    
<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info">
                            Face Recog data deleted FAILED!. Please try again later.
                        </div>
                        <div class='small'> <a href="{% url 'setup_face_recog' %}"></a> </div>
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}