<!DOCTYPE html>
{% load static %}
{%load i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Recognition</title>
  <link href="{% static 'home/css/styles.css' %}" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  
  <script defer src="{% static 'loginmanager/js/face-api.min.js' %}"></script>
  <script defer src="{% static 'loginmanager/js/face_recog_script.js' %}"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
    body {
      margin: 0;
      padding: 0;
      /* width: 100vw; */
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-family: 'Rubik', sans-serif;
      background-color: #fff;
    }

    canvas {
      position: absolute;
    }
  </style>
</head>
<body>
    <strong>{% trans "Face Recognition" %}</strong></br>
    <video id="video" width="720" height="560" autoplay playsinline muted></video>
    <div id="snapshot" style="display: none;"></div>
</body>
</html>