{% extends 'loginmanager/main.html' %}

{% load static %}
{% block content %}
<main>
<div class="container">
    <div class="row justify-content-center">
       
        <div class="col-lg-4">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                
                <div class="card-body">
                    <h3>Hi.   {{ name }}</h3>
                </div>
                <div class="card-footer text-center">
                    
                    <div class="small">
                    
                    <a  href="/">Home</a><br></div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock content %}