{% extends 'loginmanager/main.html' %}
{%load i18n %}
{% load static %}

{% block style %}
  <link href="{% static 'loginmanager/css/eye-check.css' %}" rel="stylesheet" />
{% endblock style %}

{% block content %}

<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-8">
                <div class="card shadow-sm border-0 rounded-lg mt-5 p-1" id="table-card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info text-center">
                            <strong>{% trans "You look OK" %} </strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul>Status:                 {{status}}</ul>
                        <ul>Left Eye AR:            {{lear}}</ul>
                        <ul>Right Eye AR:           {{rear}}</ul>
                        <ul>Redness:                {{er}}</ul>
                        <ul>Frames Calculated:      {{tfc}}</ul>
                        <ul>Estimated Blinks:       {{eb}}</ul>
                        <ul>Expression captured:    {{ec}}</ul>
                        <ul>Face Brightness:    {{fb}}</ul>
                        <ul>Face Redness:    {{fr}}</ul>
                    </div>
                   
                    
                    <div class="mt-3 mb-2 ml-2 d-flex"> 
                        <a href="{% url 'home' %}" class="btn btn-primary m-auto w-25">
                            {% trans "Login" %}
                        </a>  
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}