{% extends 'loginmanager/main.html' %}
{% load i18n %}
{% load static %}
{% block content %}

{% for message in messages %}
<div class="alert alert-info" role="alert">
    <div class="d-flex justify-content-center">
        <div class="alert alert-info w-75 text-center mb-0 mt-2 p-1" role="alert" style="z-index: 999; font-weight: 500;">
            {{message}}
        </div>
    </div>
</div>
{% endfor %}
        <div class="row m-0">
            <div class="col-xs-12 col-sm-6 col-xl-6" id="loginLeftImgDiv">
                <img src="{% static 'loginmanager/images/logo2.png' %}" alt="taicho-khanri" class="w-100"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-xl-6 d-flex bg-light justify-content-center align-items-center" id="loginDivRight">
                <div class="card border-0 rounded-lg" id="login-form-card">
                    <div class="card-header p-0">
                        <div id="logo-container">
                            <img src="{% static 'loginmanager/images/logo-eye.png' %}" width="200" alt="taicho-khanri"/>
                        </div>
                        <form method="post" action="{% url 'set_language' %}" class="mt-1 d-flex justify-content-end">
                            {% csrf_token %}
                            <input type="hidden" name="text" value="{{ redirect_to }}">
                            <select name="language" class="form-control" style="width: max-content;" onchange="this.form.submit()">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                                {% endfor %}
                            </select>
<!--                            <input type="submit" value="Go">-->
                        </form>
                        
                        <h4 class="text-center my-2 auth-heading text-dark" id="login-text">{% trans "Login" %}</h4>
                    </div>
                    <div class="card-body" id="login-card-body">
                        <form method="post" action="" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">{% trans "Username" %}</label>
                                <input class="form-control py-4" id="inputEmailAddress" type="text" name="username"/>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputPassword">{% trans "Password" %}</label>
                                <input class="form-control py-4" id="inputPassword" type="password" name="password"/>
                            </div>
                            <!--<div class="form-group">-->
                            <!--    <div class="custom-control custom-checkbox">-->
                            <!--        <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox"/>-->
                            <!--        <label class="custom-control-label" for="rememberPasswordCheck">{% trans "Remember Password" %}</label>-->
                            <!--    </div>-->
                            <!--</div>-->
                            <div class="form-group d-flex align-items-center justify-content-between mt-3 mb-0">
                                <!--<a class="small" href="#">Forgot Password?</a>-->
<!--                                <a class="btn btn-primary" href="index.html">Login</a>-->
                                <!--<input type="submit" name="submit" value="Login" class="btn btn-primary"/>-->
                                <button type="submit" name="submit" class="btn btn-primary" id="loginBtn">{% trans "Login" %}</button>
                                <a class="small" href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a href="{% url 'loginmanager-register' %}">{% trans "Need an account? Sign up!" %}</a>
                        </div>
                    </div>
                    <div class="bg-light d-flex">
                        <a href="{% url 'face_recog_login' %}" class ="btn btn-info w-75 m-auto mt-2">{% trans "Proceed" %}</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}