{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Taicho Khanri</title>
        <link href="{% static 'loginmanager/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'loginmanager/css/main.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        {% block style %}
        {% endblock style %}
    </head>
    <body class="">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
            {% block content %} {% endblock %}
            </div>
            <div id="layoutAuthentication_footer" style="z-index: 999;">
                <footer class="py-3 mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small text-center">
                            <div class="text-muted"><a href=#>Copyright &copy; B&B Tech </a></div>
                            <div class="d-flex">
                                <a href="#">Privacy Policy</a>
                                <a href="#" class="ml-2">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'loginmanager/js/scripts.js' %}"></script>
    </body>
</html>
