{% extends 'loginmanager/main.html' %}
{%load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<main>
    {% get_current_language as LANGUAGE_CODE %}
<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                       
                        <h4 class="text-center my-3 auth-heading">{% trans "Reset Password" %}</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" id="pass-reset-form">
                            {% csrf_token %}
                                <!-- <fieldset class="form-group" >
                                    {{ form }}
                                </fieldset> -->
                                {{form|crispy}}
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block text-uppercase" type="submit">
                                        {% trans "Send Email" %}
                                    </button>
                                </div>
                            <p>{{ form.errors }}</p>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'loginmanager-login' %}">{% trans "Login" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

