{% extends 'loginmanager/main.html' %}
{%load i18n %}
{% block content %}

<main>
    {% get_current_language as LANGUAGE_CODE %}
<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                       
                    </div>
                    <div class="card-body">
                        <p>
                           {% trans "An email has been sent with instruction to reset your password." %}
                        </p>
                        <div class='small'> <a href="{% url 'loginmanager-login' %}">{% trans "Login" %}</a> </div>
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

