{% extends 'home/main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<body>

    <div class="container" style="margin: 2%;">
        <div class="row">
           
            <br>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">

                    <!-- Change Info Section -->
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">{% trans "Please Create or Update profile from settings first." %}<a href="{% url 'profile' %}">{% trans "Settings" %}</a></li>
                    </ol>

                </div>
            </div>
        </div>
    </div>



</body>

{% endblock %}