{% extends 'home/main.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    #edit_form .form-group{
        width:45%
    }
</style>
<body>

    <div class="container" style="margin: 2%;">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{profile.user}} {% trans "Employee Details"%}</h1>
                    <p class="small">{{profile.email}}</p>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <form method="POST" action=" {% url 'delete_employee_confirm' profile.id%}">
                            {% csrf_token %}
                            <button  class="btn btn-block btn-danger" name="deleteBtn"
                                >{% trans "Delete Employee" %}</button>
                            
                        </form>
                    </div>
                    
                </div>
                <div class="row">
                    <!-- Profile Picture Section -->
                    <div class="col-lg-2 col-md-4 col-sm-12 align-items-center" id="user_pp">
                       
                            
                                {% if profile.profile_pic %}
                                <img src="{{ profile.profile_pic.url }}" class="img-responsive" width="100" height="100"
                                    style="border-radius: 0%;" />
                                {% else %}
                                <p>-</p>
                                {% endif %}
                            
                        
                    </div>
                    <!-- Info Display Section -->
                    <div class="col-lg-10 col-md-8 col-sm-12" id="user_info">
                        <div class="card bg-light">
                            <div class="card-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Name"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile.first_name }} {{ profile.last_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Address"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile.address }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Email"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile.email }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Phone"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.phone}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Role"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.role}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Gender"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.gender}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Bank name"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.bank_name}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Bank account"%}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{profile.bank_account}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><strong>{% trans "Pay" %}</strong></label>
                                        </div>
                                        <div class="col-md-6">
                                            {% if profile.monthly_pay %}
                                            <p>{{ profile.monthly_pay }} {% trans "per month"%}</p>
                                            {% endif %}
                                            {% if profile.rate_per_hour %}
                                            <p>{{ profile.rate_per_hour }} {% trans "per hour"%}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="btn-toolbar mb-2 mb-md-0" id="edit_button">
                                        <button type="submit" onclick="edit_profile()" name="create" value="create"
                                            class="btn btn-info">
                                            <span data-feather="edit"></span> {% trans "Edit Employee Profile" %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Change Info Section -->
                    <div class="col-12" id="change_info">
                        <div class="row"="change_infoid_dr">
                            <form method="post" id="edit_form" enctype="multipart/form-data" class="d-flex justify-content-between flex-wrap">
                                {% csrf_token %}
                                {{form|crispy}}
                                <div class="row col-md-10">
                                <button type="reset" class="btn btn-block btn-danger" name="cancel"
                                    onclick="window.location.reload();">{% trans "Cancel" %}</button>
                                <button type="submit" class="btn btn-block btn-success" name="update">{% trans "Save Changes" %}</button>
                                </div>
                            </form>

                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#change_info').hide();

        function edit_profile() {
            $("#edit_button").hide();
            $("#user_info").hide();
            $("#user_pp").hide();
            $('#change_info').show();
        }
    </script>

</body>

{% endblock %}