{% extends "home/main.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<main>
    <div class="container-fluid d-flex flex-column align-items-center">
        {% for message in messages %}
        <div class="alert alert-info mt-2 mb-1 w-75 text-center" role="alert">
            {{message}}
        </div>
        {% endfor %}
        <h4 class="my-2">{% trans "Profile" %}</h4>
<!--        <form method="post" action="#" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            {{ form.as_table }}-->
<!--            <p>{{ form.errors }}</p>-->
<!--            <input class="btn btn-success" type="submit" value="Update Information">-->
<!--        </form>-->
        <form method="post" action="#" enctype="multipart/form-data" class="col-12 col-sm-8 m-0 mb-2 p-4 shadow rounded" id="profileUpdateForm">
            {% csrf_token %}
            {{form|crispy}}
            <!-- <table class="table">
                <tr class="table">
                        <td width="20%">First name :</td>
                        <td>{{ form.first_name }}</td>
                </tr>
                <tr class="table">
                        <td width="20%">Last Name :</td>
                        <td>{{ form.last_name }}</td>
                </tr>
                <tr class="table">
                        <td width="20%">Email:</td>
                        <td>{{ form.email }}</td>
                </tr>
               
                <tr class="table">
                        <td width="20%">Gender :</td>
                        <td>{{ form.gender }}</td>
                </tr>
                
          
            </table> -->
            <button class="btn btn-primary rounded-btn" type="submit" value="Update Information">{% trans "Update Information"%}</button>
        </form>
        
    </div>
</main>
{% endblock %}