<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Face</title>
  <link href="{% static 'loginmanager/css/styles.css' %}" rel="stylesheet" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  
  <script defer src="{% static 'loginmanager/js/face-api.min.js' %}"></script>
  <script defer src="{% static 'loginmanager/js/face_script.js' %}"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Rubik', sans-serif;
      background-color: #fff;
    }
   
    canvas {
      position: absolute;
    }
  </style>
</head>
<body>
  <div class="d-flex text-dark w-100">
    <h4 class="ml-2">Register Face</h4>
  </div>
  <video id="video" width="720" height="560" autoplay playsinline muted></video>
  <div id="snapshot" style="display: none;"></div>
</body>
</html>