{% extends 'loginmanager/main.html' %}

{% block content %}
{% load crispy_forms_tags %}
<main>
    
<!--    {{ LANGUAGE_CODE }}-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-sm border-0 rounded-lg mt-5 mb-2" id="register-form-card">
                    <div class="card-body">
                        <h5 class="text-center auth-heading" id="register-text">Register</h5>
                        <form method="post" action="" id="register-form">
                            {% csrf_token %}
                            {{form|crispy}}
                                    <!-- <table>
                                        <tr>
                                            
                                            <td>{{ form.username|as_crispy_field }}</td>
                                        </tr>
                                        
                                
                                        <tr><td> {{ form.email|as_crispy_field }} <label class="small">Your Email</label> </td></tr>
                                        
                                        <tr><td>{{ form.password1|as_crispy_field }}</td></tr>
                                        
                                        <tr><td>{{ form.password2|as_crispy_field }}</td></tr>
                                    </table> -->
                            
                            <button class="btn btn-primary btn-block text-uppercase" type="submit">Submit</button>
                        </form>
                    </div>

                   


                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'loginmanager-login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}