{% extends "home/main.html" %}
{% load i18n %}
{% block content %}
<main>
    <div class="container-fluid">
        <form method="post" action="#" enctype="multipart/form-data" class="mt-3 ml-lg-4">
                {% csrf_token %}
                {% for message in messages %}
                <div class="alert alert-info mt-2 mb-1 w-75 text-center" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            <h4>{% trans "Face Recognition" %}</h4>
            
            
            <button class="btn btn-info mt-3 rounded-btn" type="submit" value="Proceed to Face Registration" name="proceed">{% trans "Proceed to Register" %}</button></br></br>
            OR
        </br></br>
            <button class="btn btn-info mt-3 rounded-btn" type="submit" value="Upload your own image" name="upload">{% trans "Upload Image" %}</button></br></br>
            <!-- <p style="font-weight: 500;" class="ml-2">
                <small>{% trans "Face Recognition needs access to your camera"%}</small>
            </p> -->
        </form>
        
        
        <div class="mt-5 ml-lg-4">
            <button class="btn btn-danger rounded-btn" type = "submit" data-toggle="modal" data-target="#deleteFrModal">
                {% trans "Delete Face Recognition Data" %}
            </button>
            <!-- <p style="font-weight: 500;" class="ml-2">
                <small>{% trans "If face recognition is not working for you, you can delete the data and start over"%}</small>
            </p> -->
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="deleteFrModal" tabindex="-1" role="dialog" aria-labelledby="deleteFrModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="deleteFrModalLabel">{% trans "Delete Face Recognition Data" %}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-weight: 500; font-size: 14px;">
                    {% trans "Deleting face recognition data would delete all your face data from our database." %}
                    {% trans "You'd have to setup your face recognition again if you want to use this feature." %}
                    {% trans "Do you want to delete your face recognition data?" %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form>
                    <button type="submit" class="btn btn-primary" value="delete_fr" name="delete_fr">Yes, Delete it</button>
                </form>
                </div>
                </div>
            
            </div>
        </div>
    </div>
</main>
{% endblock %}