{% extends "home/main.html" %}
{% load i18n %}
{% block content %}
<main>
    <div class="container-fluid">
        <form method="post" action="#" enctype="multipart/form-data" class="mt-3 ml-lg-4">
                {% csrf_token %}
            <button class="btn btn-info mt-3 rounded-btn shadow-sm" type="submit" value="Proceed to Face Registration" name="proceed">{% trans "Proceed" %}</button>
            <!-- <p style="font-weight: 500;" class="ml-2">
                <small>{% trans "This needs access to your camera"%}</small>
            </p> -->
            
        </form>
    </div>
</main>
{% endblock %}