{% extends "home/main.html" %}
{% load i18n %}
{% block content %}
<main>
    
    <div class="container-fluid">
        <h4>{% trans "Upload your own image" %}</h4>
    </br>
    <h5>{% trans "Images not meeting criteria would be rejected"%}</h5>
</br>
        
        
        <form method="post" action="#" enctype="multipart/form-data" class="mt-3 ml-lg-4">
        {% csrf_token %}
        {{form}}
        </br>
        <button class="btn btn-info mt-3 rounded-btn" type="submit" value="Upload your own image" name="upload">{% trans "Upload" %}</button></br></br>
    </form>

    {% for message in messages %}
        <div class="alert alert-info mt-2 mb-1 w-75 text-center" role="alert">
            {{message}}
        </div>
        {% endfor %}
        
       
    </div>
</main>
{% endblock %}