@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

#table-card table{
  font-size: 14px;
}
#table-card table tr{
  text-align: center !important;
  font-weight: 500 !important;
}

#table-card table tbody th{
  font-weight: 500 !important;
  padding: 5px;
}