@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
body{
    font-family: 'Rubik', sans-serif;
}
#layoutAuthentication{
    background-color: ##fff;
}
#layoutAuthentication_footer{
    background-color: #6ba9e7;
}
#layoutAuthentication_footer a{
    color: #fff;
}

#register-form label, 
#pass-reset-form label{
    font-weight: 500 !important;
}

.rounded-btn {
    border-radius: 19px !important;
    min-width: 130px;
}
#loginLeftImgDiv{
    /* background-image: url('../images/logo2.png'); */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form-card{
    width: 100%;
}
#layoutAuthentication_footer footer{
    height: 68px;
}
#loginDivRight, #loginLeftImgDiv{
    height: calc(100vh - 68px)
}
#loginBtn{
    width: 100px;
}

@media (min-width: 1400px){
    #loginDivRight{
        padding: 35px;
    }
    #login-card-body{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 768px){
    #layoutAuthentication_footer{
        font-size: 14px;
    }
    #loginLeftImgDiv{
        display: none;
    }
    #loginDivRight{
        margin: auto;
    }
    #loginDivRight{
        min-width: 90%;
    }
}

@media (max-width: 600px){
    body{
        font-size: 1rem;
    }
    #layoutAuthentication_footer footer{
        max-height: 70px;
        padding: 10px 0 !important;
    }
    .container{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    #loginDivRight{
        min-width: 100%;
        height: calc(100vh - 45px);
    }
    .auth-heading{
        font-size: 17px;
    }
    .btn{
        font-size: 14px !important
     }
     #logo-container img{
         width: 130px !important;
     }
}